/* Base typography options, global 
spacing margin and font size*/

body{
    font-family: Helvetica, Verdana, sans-serif;
    margin: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    }

/* Media query for responsive 
spacing on smaller viewports*/

/* I use the youtube Channel :Code with Unclebigbay*/

@media (max-width: 600px) {
    body {
        margin: 1.5rem;
    }
}

/* Heading styles 
to establish visual hierarchy*/

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(43, 141, 226);
}

h2{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

/* Margin*/

p, ol, ul {
    max-width: 40rem;
    width: 100%;
    margin-bottom: 1rem;

}

/* Image style*/

img{
    max-width: 100%;
    height: auto;
    border-color: rgb(14, 73, 182);
    border-width: 5px;
    border-style: dotted;
}

/* Margin photo*/
figure{
    margin: 0;
}

/* Links style*/

figcaption{
    font-style: italic;
}
a{
    color: rgb(0, 21, 255);

    transition-property: color;
    transition-duration: 1s;
}

a:hover, a:focus{
    color: green;
    text-decoration: none;
}

/* subtitle style*/
.nav-main-item{ 
    background-color: rgb(16, 18, 123); 
    color: white; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    font-size: 1.5rem; 
}

/* Image inside links style*/

a:hover img,
a:focus img {
    opacity: 0.2;
    border-color: green;
}
