* {
    box-sizing: border-box;
}

.grid {
    display: grid !important;
}

.grid.add-gutters {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
/* ================================
   Responsive layout for #matcha1 using Grid
   Based on last week's Project #1 deliverables and course materials
================================ */
/*mobile*/
@media (min-width: 20rem){/*320px*/
    .grid.one-column{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}
/*desktop*/
@media (min-width: 64rem) {/*1024px*/
    .grid.four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /* Learned this part after hours of experimenting to get #matcha1 layout correctly */
    #matcha1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 2rem;
}
}

/*large screens*/
@media (min-width: 120rem) {/*1920px*/
    .grid.four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /* Learned this part after hours of experimenting to get #matcha1 layout correctly */
    #matcha1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 2rem;
}
}


